<div class="container-fluid bg-geral">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-7 p-4 bg-border bg-opacity-10 border border rounded text-white">

                    <h1 class="text-center">
                        Entrar
                    </h1>

                    <div class="form-group mt-2">
                        <label for="usuario">
                            Usuário:
                        </label>
                        <input [(ngModel)]="userLogin.nome" class="form-control" name="usuario" id="usuario" placeholder="Seu Usuário" type="text">
                    </div>

                    <div class="form-group mt-2">
                        <label for="senha">
                            Senha:
                        </label>
                        <input [(ngModel)]="userLogin.senha" class="form-control" name="senha" id="senha" placeholder="Sua Senha" type="password">
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-success" (click)='entrar()' type="submit">
                            Entrar
                        </button>
                    </div>                 
                    
                    

                </div>

            </div>

        </div>

        <div class="col-md-6 " id="img-bg">
        </div>

    </div>


</div>
