#img-bg{
    background-image: url('../../assets/img/form.png');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-geral{
    background-color: aliceblue;
}

.h-500{
    height: 500px !important;
}